* {
  margin: 0;
  padding: 0; }

.logoNombre {
  display: flex;
  margin-left: 10px; }
  .logoNombre h1 {
    padding: 15px;
    font-size: 30px;
    color: #faefef; }

.carrusel {
  display: flex;
  justify-content: center;
  background-color: rgba(39, 37, 37, 0.863);
  padding-top: 100px;
  padding-bottom: 10px; }
  .carrusel .carousel {
    width: 500px;
    height: auto;
    padding-top: 10px; }

/* Empieza MAIN  */
main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #ece3d9;
  padding-top: 100px; }
  main .principal {
    color: #472c1b;
    padding: 20px;
    text-align: justify;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 20px; }
    main .principal ul {
      list-style: none; }
    main .principal .centrado {
      text-align: center;
      margin: 20px; }
  main .colaborando {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgba(39, 37, 37, 0.863);
    color: #fcdec0; }
    main .colaborando .textoInterno {
      padding: 10px;
      text-align: justify; }
  main .denunciar {
    width: 100%;
    margin-top: 20px;
    padding: 50px; }
  main #adoptables {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main #adoptables h2 {
      text-align: center;
      padding-bottom: 30px; }
    main #adoptables .card {
      margin: 5px; }

.fondoTarjeta {
  padding-top: 80px; }
  .fondoTarjeta .textoCondiciones {
    padding-top: 50%; }

#inquilinos {
  background-image: url(../img/perro-gato.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #fcdec0;
  width: 100%;
  height: calc(100vh - 110px);
  text-align: justify;
  overflow: auto; }
  #inquilinos article div {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    font-size: 12px; }

#team {
  display: flex;
  padding: 0px 40px 60px 40px;
  background-color: #ece3d9; }
  #team .title {
    text-align: center;
    color: #472c1b;
    margin-top: 5px;
    margin-bottom: 30px; }
  #team .workers {
    justify-content: space-around; }
    #team .workers .trabajadores {
      width: 250px;
      height: 250px;
      background-size: auto 250px;
      margin: 20px;
      border-radius: 50%;
      overflow: hidden;
      padding: 0; }
    #team .workers .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #49258e;
      background: linear-gradient(rgba(255, 218, 218, 0.815), rgba(200, 170, 170, 0.849));
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%; }
      #team .workers .overlay .overlay-text {
        transform: translateY(50px);
        z-index: 999999;
        transition: all 0.6s;
        opacity: 0;
        visibility: hidden; }
        #team .workers .overlay .overlay-text h3 {
          margin-bottom: 1px; }
        #team .workers .overlay .overlay-text p {
          font-style: italic; }
    #team .workers .trabajadores:hover .overlay {
      opacity: 1;
      visibility: visible; }
    #team .workers .trabajadores:hover .overlay .overlay-text {
      transform: translateY(0);
      opacity: 1;
      visibility: visible; }
    #team .workers #persona1 {
      background-image: url(../img/persona1.jpg); }
    #team .workers #persona2 {
      background-image: url(../img/persona2.jpg); }
    #team .workers #persona3 {
      background-image: url(../img/persona3.jpg); }
    #team .workers #persona4 {
      background-image: url(../img/persona4.jpg); }

/*----Legislacion---*/
.legal {
  width: 100%; }

#linkALey {
  font-size: 40px;
  text-align: center;
  align-self: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px; }
  #linkALey p {
    font-size: 20px; }
  #linkALey a {
    text-decoration-line: none;
    color: #472c1b; }
  #linkALey a:hover {
    color: #2144b8;
    transform: scale(1.1, 1.1); }

/* ---- Empieza Formulario Contacto----*/
.espacioContacto {
  background-color: #ece3d9;
  flex-wrap: wrap-reverse; }
  .espacioContacto .location {
    padding-top: 20px; }
    .espacioContacto .location iframe {
      border: none;
      margin: 30px; }
  .espacioContacto form .tipoDeMascota {
    display: flex; }
    .espacioContacto form .tipoDeMascota fieldset {
      padding: 10px 30px 10px 0; }
  .espacioContacto form .envio {
    display: flex;
    justify-content: space-around; }
  .espacioContacto form .especie {
    width: 80px;
    height: 25px;
    font-family: 'Montserrat', sans-serif; }
  .espacioContacto form input[type=submit] {
    height: 35px;
    background-color: #20a720;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    bottom: 8px; }
  .espacioContacto form input[type=submit]:hover {
    background-color: #2144b8; }

/* ---- Termina Formulario Contacto----*/
/* ---Empieza FOOTER ---*/
footer {
  background-image: linear-gradient(150deg, #fffff5 0, #e8ddbf 50%, #c5b58c 100%);
  height: 80px;
  width: 100%;
  text-align: center;
  color: #472c1b;
  display: flex;
  font-size: 20px; }
  footer .socialmedia {
    font-size: 18px;
    height: 40px;
    width: 80%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-self: center; }
    footer .socialmedia .enlaces {
      font-size: 26px;
      padding-left: 5px; }
      footer .socialmedia .enlaces a {
        padding: 8px;
        color: #472c1b;
        transition: .5s; }
      footer .socialmedia .enlaces a:hover {
        color: #2144b8; }

/* ---Termina FOOTER ---*/
/*---Whatsapp---*/
#wa a {
  position: fixed;
  right: 30px;
  bottom: 20px; }

/*----medias query----*/
@media only screen and (max-width: 800px) {
  .textoPrincipal {
    font-size: 16px;
    margin: 20px; }
  .espacioContacto {
    padding: 10%; }
  .video iframe {
    width: 380px;
    height: 214px; }
  .textoCondiciones p {
    font-size: 11px; } }

@media only screen and (min-width: 992px) {
  .principal {
    width: 60%;
    padding: 50px;
    line-height: 1.5;
    font-size: 18px; }
  .colaborando {
    align-self: center; }
  .denunciar {
    width: 80%; }
  #adoptables {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around; }
  .espacioContacto {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly; }
  .location iframe {
    width: 450px;
    height: 200px; }
  #formulario1 {
    margin: 30px; } }

@media only screen and (min-width: 1200px) {
  .principal {
    padding: 50px;
    line-height: 1.5;
    font-size: 18px; }
  #adoptables {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around; }
  #formulario1 {
    margin: 30px; } }
