$marronOscuro: rgb(71, 44, 27);
$marronMedio:rgb(125, 69, 27);
$otroMarron: rgb(229, 178, 153);
$colorPiel:rgb(252, 222, 192);
$gradiente:linear-gradient(150deg, #fffff5 0, #e8ddbf 50%, #c5b58c 100%);
$verdeComplementario: #9be564;
$azulHover: #597cf0;
$violeta: #49258e;
$fondoClaro:#ece3d9;
$rojo: #ff0000;
$celeste: #6bb5ff;
$fondoOscuro:rgba(39, 37, 37, 0.863);