@mixin overlay {
    background: linear-gradient(rgba(255, 218, 218, 0.815), rgba(200, 170, 170, 0.849));
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}