@import "colores";
@import"fuentes";
@import"variables";
@import"mixin";

* {
    margin: 0;
    padding: 0;
}


.logoNombre {
    display: flex;
    margin-left: 10px;

    h1 {
        padding: 15px;
        font-size: 30px;
        color: #faefef;
    }
}

.presentacion {
    width: 100%;
    height: calc(100vh - 110px);
    background: url(../img/1602011541.png) top center;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    color: $colorPiel;

    .titulo1 {
        margin-right: 20%;
    }
}


/* Empieza MAIN  */


main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: $fondoClaro;

    .principal {
        color: $marronOscuro;
        padding: 10%;
        text-align: justify;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        ul {
            list-style: none;
        }

        .centrado {
            text-align: center;
            margin: 20px;
        }
    }

    .colaborando {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        background-color: $fondoOscuro;
        color: $colorPiel;

        img {
            width: 350px;
            height: auto;
            padding-top: 30px;
        }

        .textoInterno {
            padding: 10px;
            text-align: justify;
        }
    }

    .denunciar {
        width: 100%;
        margin-top: 20px;
        padding: 50px;

    }

    #adoptables {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        h2 {
            text-align: center;
            padding-bottom: 30px;
            padding-top: 30px;
        }
p{
    margin-bottom: 0;
}
        .card {
            margin: 5px;
        }
    }

    #venta {
        padding-top: 150px;
    }
}

.fondoTarjeta {
    padding-top: 80px;

    .textoCondiciones {
        padding-top: 50%;
    }
}

#inquilinos {

    background-image: url(../img/perro-gato.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: $colorPiel;
    width: 100%;
    height: calc(100vh - 110px);
    text-align: justify;
    overflow: auto;

    article div {
        width: 100%;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
        margin-right: auto;
        margin-left: auto;
        font-size: 12px;
    }
}

#team {
    display: flex;
    padding: 40px 40px 60px 40px;
    background-color: $fondoClaro;

    .title {
        text-align: center;
        color: $marronOscuro;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .workers {
        justify-content: space-around;


        .trabajadores {
            width: 250px;
            height: 250px;
            background-size: auto 250px;
            margin: 20px;
            border-radius: 50%;
            overflow: hidden;
            padding: 0;
        }

        .overlay {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $violeta;
            @include overlay;

            .overlay-text {
                transform: translateY(50px);
                z-index: 999999;
                transition: all 0.6s;
                opacity: 0;
                visibility: hidden;

                h3 {
                    margin-bottom: 1px;
                }

                p {
                    font-style: italic;
                }
            }
        }

        .trabajadores:hover .overlay {
            opacity: 1;
            visibility: visible;
        }

        .trabajadores:hover .overlay .overlay-text {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }

        #persona1 {
            background-image: url(../img/persona1.jpg);

        }

        #persona2 {
            background-image: url(../img/persona2.jpg);
        }

        #persona3 {
            background-image: url(../img/persona3.jpg);
        }

        #persona4 {
            background-image: url(../img/persona4.jpg);
        }
    }
}

/*----Legislacion---*/
.legal {
    width: 100%;
}

#linkALey {
    font-size: 40px;
    text-align: center;
    align-self: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    p {
        font-size: 20px;
    }

    a {
        text-decoration-line: none;
        color: $marronOscuro;
    }

    a:hover {
        color: $azulHover;
        transform: $escalador;
    }
}



/* ---- Empieza Formulario Contacto----*/

.espacioContacto {
    background-color: $fondoClaro;

    flex-wrap: wrap-reverse;


    .location {
        padding-top: 20px;

        iframe {
            border: none;
            margin: 30px;
        }
    }

    form {
        .tipoDeMascota {
            display: flex;

            fieldset {
                padding: 10px 30px 10px 0;
            }
        }

        .envio {
            display: flex;
            justify-content: space-around;
        }

        .especie {
            width: 80px;
            height: 25px;
            font-family: 'Montserrat', sans-serif;
        }

        input[type=submit] {
            height: 35px;
            background-color: rgb(32, 167, 32);
            color: #fff;
            font-size: 14px;
            line-height: 14px;
            border-radius: 20px;
            padding: 5px 20px;
            border: none;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            cursor: pointer;
            margin-right: 20px;
            position: relative;
            bottom: 8px;
        }

        input[type=submit]:hover {
            background-color: $azulHover;
        }
    }
}

/* ---- Termina Formulario Contacto----*/
/* ---Empieza FOOTER ---*/

footer {
    background-image: $gradiente;
    height: 80px;
    width: 100%;
    text-align: center;
    color: $marronOscuro;
    display: flex;
    font-size: 20px;


    .socialmedia {
        font-size: 18px;
        height: 40px;
        width: 80%;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-self: center;

        .enlaces {
            font-size: 26px;
            padding-left: 5px;

            a {
                padding: 8px;
                color: $marronOscuro;
                transition: .5s;
            }

            a:hover {
                color: $azulHover;

            }
        }
    }
}

/* ---Termina FOOTER ---*/
/*---Whatsapp---*/
#wa a {
    position: fixed;
    right: 30px;
    bottom: 20px;
}

/*----medias query----*/


@media only screen and (max-width: 800px) {
    .textoPrincipal {
        font-size: 16px;
        margin: 20px;
    }

    .espacioContacto {
        padding: 10%;
    }

    .video iframe {
        width: 380px;
        height: 214px;
    }

    .textoCondiciones {
        p {
            font-size: 11px;
        }
    }

    .carousel {
        width: 80%;
        margin-top: 10%;
    }
}


@media only screen and (min-width: 992px) {

    .principal {
        width: 60%;
        padding: 50px;
        line-height: 1.5;
        font-size: 18px;
    }

    .colaborando {
        align-self: center;
    }

    .denunciar {
        width: 80%;
    }

    #adoptables {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;

    }

    .espacioContacto {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .location iframe {
        width: 450px;
        height: 200px;
    }

    #formulario1 {
        margin: 30px;
    }

}


@media only screen and (min-width: 1200px) {

    .principal {

        padding: 50px;
        line-height: 1.5;
        font-size: 18px;
    }

    #adoptables {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }

    #formulario1 {
        margin: 30px;
    }
}